# Exemplo de variáveis de ambiente
API_URL=https://suaapi.com
# Configuração de e-mail para confirmação de cadastro
EMAIL_HOST=smtp.seuprovedor.com
EMAIL_PORT=587
EMAIL_USER=seu@email.com
EMAIL_PASS=sua_senha
EMAIL_FROM=Marcenaria_PRO <seu@email.com>
